<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Colorselect&mdash;be happy</title>
		<link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
    <style>
      .current-color-bg { background-color: {{ current_color }}; }
    </style>
	</head>
	<body class="w-100 h-100 sans-serif current-color-bg">
		<section class="pa3 pa5-ns black-70 fl-l w-100 bg-washed-yellow">
			<h1 class="f4 f3-ns mt4">Colorselect&trade;</h1>
			<p class="f5 f4-ns lh-copy">Add some color to your day</p>
			<form class="measure lh-copy fl-l black-70" name="color-select" action="/recolor" method="POST">
          <div class="measure">
              <label for="rgb-color" class="f6 b db mb2">LED color</label>
              <input class="input-reset ba b--black-20 pa2 mb2 db w-100 grow"
                     type="color" id="rgb-color"
                     name="rgb-color" value="{{ current_color }}">
              <button class="b ph3 pv2 input-reset ba b--black-20 bg-transparent grow dib"
                      type="submit">Change Color</button>
          </div>
			</form>
		</section>

	</body>
</html>
